@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
:root {
  --purple-color: #6236ff;
  --red-color: #ff396f;
  --green-color: #1dcc70;
  --yellow-color: #ffb400;
  --text-color: #27173e;
  --grey-color: #8494a8;
  --text-grey: #958d9e;
  --white-color: #fff;
  --darkmode-bg: #161129;
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 9%);
}
body .App.light,
body .App.dark {
  font-family: "Roboto Condensed", sans-serif !important;
}
.App.light,
.App.dark {
  transition: 300ms ease-in-out all;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding-left: 0px !important;
}
.pt-11 {
  padding-top: 115px !important;
}
.loading {
  background: var(--purple-color);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
  padding-bottom: 15px;
}
.loading img {
  height: 30px;
  width: 30px;
  animation: spin 1.25s ease infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.naira {
  font-size: 17px;
  position: relative;
}
.naira::after,
.naira::before {
  background: var(--text-color);
  content: "";
  width: 100%;
  height: 1.5px;
  position: absolute;
  left: 0;
}
.naira::before {
  bottom: 30%;
}
.naira::after {
  top: 40%;
}
.text-green .naira::after,
.text-green .naira::before {
  background: var(--green-color) !important;
}
.text-red .naira::after,
.text-red .naira::before {
  background: var(--red-color) !important;
}
.card-box .naira::after,
.card-box .naira::before {
  background: var(--white-color);
}
.monthly-bill-contnent .naira::after,
.monthly-bill-contnent .naira::before {
  background: var(--text-color);
}

/* ===============
Custom css 
=================*/
.text-green {
  color: var(--green-color) !important;
}
.text-red {
  color: var(--red-color) !important;
}
.bg-purple{
  background: var(--purple-color) !important;
}
.bg-teal {
  background: var(--green-color) !important;
}
.bg-red {
  background: var(--red-color) !important;
}
.bg-grey {
  background: var(--grey-color) !important;
}
.bg-yellow {
  background: var(--yellow-color) !important;
}
.App.light .mb-s2 {
  padding-bottom: 90px !important;
}
.App.dark .mb-s2 {
  padding-bottom: 90px !important;
}
.mb-s1 {
  margin-bottom: 60px !important;
}
.btn-purple {
  width: 100%;
  text-align: center;
  background: var(--purple-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.4rem 0;
  text-transform: capitalize;
}
/*===============
 Navbar 
=================*/
.navbar {
  background: var(--purple-color);
  color: #fff;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 80;
  transition: 300ms ease-in-out all;
}
.user img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.navbar p {
  margin-bottom: 0px !important;
  text-align: center;
  font-size: 24px !important;
  font-weight: 600;
  text-transform: capitalize;
}
.main-user {
  display: flex;
  align-items: center;
}
.main-user .MuiSvgIcon-root {
  font-size: 30px !important;
  margin-right: 10px;
}
.notify,
.user {
  position: relative;
  color: var(--white-color);
}
.user:hover,
.notify:hover {
  color: var(--white-color);
}
.user {
  margin-left: 6px;
}
.notify span,
.user span {
  background: var(--red-color);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  font-size: 13px;
  top: -7px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user span {
  right: -10px;
}
.notify span {
  right: 10px;
}
/*==========================
 Savings Info And THe Rest 
===========================*/
.App.light .homeshow-inner {
  border-radius: 10px;
  background: var(--white-color);
  overflow: hidden;
  margin-top: 60px;
  padding: 20px 0;
  box-shadow: var(--shadow);
}
.App.dark .homeshow-inner {
  border-radius: 10px;
  background: var(--darkmode-bg);
  overflow: hidden;
  margin-top: 60px;
  padding: 20px 0;
  box-shadow: var(--shadow);
}
.home-show {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding-top: 10px;
}
.homeshow-inner {
  position: relative;
  z-index: 6;
}
.homeshow::before {
  content: "";
  background: var(--purple-color);
  width: 100%;
  height: 200px;
  position: absolute;
  left: 0;
  z-index: 1;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdce9;
}
.App.light .top p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
  color: var(--text-color);
}
.App.dark .top p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
  color: var(--white-color);
}
.App.dark .top p .naira::after,
.App.dark .top p .naira::before {
  background: var(--white-color);
  height: 3px;
}
.top p:first-child {
  font-size: 20px !important;
  font-weight: bold;
}
.top p:last-child {
  font-size: 40px;
  font-weight: 700;
}
.top p:last-child .naira {
  font-size: 35px;
}
.App.light .top-right {
  background: rgba(98, 54, 255, 0.1);
  color: var(--purple-color);
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms ease;
}
.App.dark .top-right {
  background: rgba(98, 54, 255, 0.1);
  color: var(--text-grey);
  padding: 15px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 250ms ease;
}
.top-right:hover {
  background: var(--purple-color);
  color: #eee;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}
.transctions-options .back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  color: var(--white-color);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.transctions-options .back::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.18);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: 250ms ease-in-out;
}
.transctions-options .back:hover::after {
  transform: scaleY(1);
}
.transctions-options:nth-child(1) .back {
  background: var(--red-color);
}
.transctions-options:nth-child(2) .back {
  background: var(--purple-color);
}
.transctions-options:nth-child(3) .back {
  background: var(--green-color);
}
.transctions-options:nth-child(4) .back {
  background: var(--yellow-color);
}
.App.light .transctions-options p {
  text-align: center;
  margin-top: 10px;
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px !important;
}
.App.dark .transctions-options p {
  text-align: center;
  margin-top: 10px;
  color: var(--white-color);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px !important;
}

/*==================
Expenses and savings 
========================*/
.homeincexp {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.App.light .home-exp-inc-inner {
  background: var(--white-color);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}
.App.dark .home-exp-inc-inner {
  background: var(--darkmode-bg);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.home-exp-inc-inner p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
}
.App.light .home-exp-inc-inner p:first-child {
  color: var(--text-grey);
  font-size: 15px !important;
  font-weight: 500;
}
.App.dark .home-exp-inc-inner p:first-child {
  color: var(--white-color);
  font-size: 15px !important;
  font-weight: 500;
}

.App.light .home-exp-inc-inner p:last-child {
  font-size: 30px;
  font-weight: 600;
}
.App.dark .home-exp-inc-inner p:last-child {
  font-size: 30px;
  font-weight: 600;
  color: var(--white-color);
}
.App.dark .home-exp-inc-inner p:last-child .naira::before,
.App.dark .home-exp-inc-inner p:last-child .naira::after {
  background: var(--white-color);
}
/*==================
Transaction List 
====================*/
.trans-title {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 0;
}
.App.light .trans-title p {
  margin-bottom: 0px !important;
  font-size: 23px !important;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0px 20px;
}
.App.dark .trans-title p {
  margin-bottom: 0px !important;
  font-size: 23px !important;
  font-weight: 600;
  text-transform: capitalize;
  padding: 0px 20px;
  color: var(--white-color);
}
.App.light .trans-title a {
  color: var(--purple-color);
  font-weight: 500;
  letter-spacing: 0.8px;
  cursor: pointer;
  transform: 250ms ease-in-out;
  padding: 0px 20px;
  text-align: right;
}
.App.dark .trans-title a {
  color: var(--text-grey);
  font-weight: 500;
  letter-spacing: 0.8px;
  cursor: pointer;
  transform: 250ms ease-in-out;
  padding: 0px 20px;
  text-align: right;
}
.App.light .for-flexing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  margin-bottom: 20px;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: transform 250ms ease-in-out;
}
.App.dark .for-flexing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--darkmode-bg);
  margin-bottom: 20px;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  transition: transform 250ms ease-in-out;
}
.for-flexing:hover {
  transform: scale(1.06);
}
.for-flexing img {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  object-fit: cover;
}
.name {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  gap: 30px;
  align-items: center;
}
.name p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
}
.App.light .name p:first-child {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
}
.App.dark .name p:first-child {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
}
.name p:last-child {
  color: var(--text-grey);
  font-weight: 500;
  font-size: 15px !important;
}
.for-flexing .text-red,
.for-flexing .text-green {
  font-size: 19px !important;
  font-weight: 500;
}
.trans-list {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding: 0px 16px;
}
/*=============
Cards Design 
==============*/
.card-body {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card-body::-webkit-scrollbar {
  display: none;
}
.card-box {
  background: var(--purple-color);
  color: var(--white-color);
  border-radius: 10px;
  margin-right: 30px;
  min-width: 450px !important;
  margin-bottom: 15px;
}
.card-box:nth-of-type(2) {
  background: #222;
}
.card-box:nth-of-type(3) {
  background: var(--grey-color);
}
.card-box:nth-of-type(4) {
  background: var(--red-color);
}
.card-box:nth-of-type(5) {
  background: var(--green-color);
}
.card-box:nth-of-type(6) {
  background: var(--yellow-color);
}
.card-box:nth-of-type(3) .balance p:first-child,
.card-box:nth-of-type(3) .card-numb p:first-child,
.card-box:nth-of-type(3) .expire p:first-child,
.card-box:nth-of-type(3) .cvv p:first-child {
  color: var(--white-color) !important;
}
.card-box-content {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.23) 100%
  );
  padding: 20px 40px;
  overflow: hidden;
  border-radius: 10px;
}
.card-box p {
  margin-bottom: 0px !important;
  text-transform: uppercase;
}
.balance p:first-child,
.card-numb p:first-child,
.expire p:first-child,
.cvv p:first-child {
  font-size: 15px !important;
  font-weight: 500;
  color: var(--grey-color) !important;
  opacity: 0.7;
}
.balance p:last-child {
  font-size: 36px !important;
  font-weight: 500;
  letter-spacing: 1px;
}
.card-numb p:last-child {
  font-size: 26px !important;
  letter-spacing: 1px;
}
.card-numb .MuiSvgIcon-root {
  font-size: 50px !important;
  letter-spacing: 1px;
}
.expire p:last-child,
.cvv p:last-child {
  font-size: 20px !important;
  letter-spacing: 1px;
}
.card-bottom {
  display: flex;
  align-items: center;
  gap: 2rem;
}
/*==============
Send Money Side 
===============*/
.App.light .money-content {
  background: var(--white-color);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  margin-right: 15px;
  cursor: pointer;
}
.App.dark .money-content {
  background: var(--darkmode-bg);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: var(--shadow);
  margin-right: 15px;
  cursor: pointer;
}
.money-content img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  object-fit: cover;
}
.App.light .money-content p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
}
.App.dark .money-content p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  color: var(--white-color);
}
/*=================
 Monthly Bill Side 
===================*/

.App.light .monthly-bill-contnent {
  background: var(--white-color);
  box-shadow: var(--shadow);
  padding: 22px 20px;
  border-radius: 10px;
  margin-right: 20px;
  text-align: center;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App.dark .monthly-bill-contnent {
  background: var(--darkmode-bg);
  box-shadow: var(--shadow);
  padding: 22px 20px;
  border-radius: 10px;
  margin-right: 20px;
  text-align: center;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.img-cont {
  height: 60px;
  width: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background: var(--yellow-color);
  color: var(--white-color);
}
.monthly-bill-contnent:nth-child(1) .img-cont {
  background: var(--purple-color);
  color: var(--white-color);
}
.monthly-bill-contnent:nth-child(2) .img-cont {
  background: var(--red-color);
  color: var(--white-color);
}
.monthly-bill-contnent:nth-child(3) .img-cont {
  background: var(--green-color);
  color: var(--white-color);
}
.monthly-bill-contnent p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
  text-align: center;
}
.App.light .monthly-bill-contnent .month-price {
  font-size: 22px !important;
  font-weight: 500;
}
.App.dark .monthly-bill-contnent .month-price {
  font-size: 22px !important;
  font-weight: 500;
  color: var(--white-color);
}
.App.dark .monthly-bill-contnent .month-price .naira::before,
.App.dark .monthly-bill-contnent .month-price .naira::after {
  background: var(--white-color);
}
.monthly-bill-contnent .month-desc {
  color: var(--text-grey) !important;
  font-weight: 500;
  margin-top: 8px;
}
.monthly-bill-contnent button {
  margin-top: 25px;
  width: 100%;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
  background: var(--purple-color);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: 500;
}
/*====================
 Saving Goals Section 
======================*/
.saving-body {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
}
.App.light .saving-container {
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 20px 40px;
}
.App.dark .saving-container {
  background: var(--darkmode-bg);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 20px 40px;
}
.saving-top {
  display: flex;
  justify-content: space-between;
}
.saving-top p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
}
.App.light .saving-top p:last-child {
  font-size: 22px !important;
  font-weight: 500;
}
.App.dark .saving-top p:last-child {
  font-size: 22px !important;
  font-weight: 500;
  color: var(--white-color);
}
.App.dark .saving-top p:last-child .naira::before,
.App.dark .saving-top p:last-child .naira::after {
  background: var(--white-color);
}
.App.light .saving-text p:first-child {
  font-size: 22px !important;
  font-weight: 500;
}
.App.dark .saving-text p:first-child {
  font-size: 22px !important;
  font-weight: 500;
  color: var(--white-color);
}
.saving-text p:last-child {
  font-size: 10px !important;
  font-weight: 500;
  color: var(--text-grey) !important;
}
.App.light .saving-progress {
  margin-top: 20px;
  background: #eee;
  height: 14px;
  width: 100%;
  font-size: 10px !important;
  color: var(--white-color);
  border-radius: 500px;
  overflow: hidden;
}
.App.dark .saving-progress {
  margin-top: 20px;
  background: #372648;
  height: 14px;
  width: 100%;
  font-size: 10px !important;
  color: var(--white-color);
  border-radius: 500px;
  overflow: hidden;
}
.savebar {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--purple-color);
}
.saving-container:nth-child(2) .savebar {
  width: 55%;
}
.saving-container:nth-child(3) .savebar {
  width: 15%;
}
/*================ 
Latest News 
=================*/
.latest {
  display: flex;
  overflow-x: scroll;
  min-width: 100%;
}
.latest::-webkit-scrollbar {
  display: none;
}
.App.light .latest-box {
  background: var(--white-color);
  border-radius: 15px;
  box-shadow: var(--shadow);
  overflow: hidden;
  min-width: 297.667px;
  text-transform: capitalize;
  margin-right: 20px;
}
.App.dark .latest-box {
  background: var(--darkmode-bg);
  border-radius: 15px;
  box-shadow: var(--shadow);
  overflow: hidden;
  min-width: 297.667px;
  text-transform: capitalize;
  margin-right: 20px;
}
.latest-box img {
  height: 300px;
  object-fit: cover;
}
.latest-bottom {
  margin: 30px 0;
}
.App.light .latest-bottom p {
  margin-bottom: 0px !important;
  font-size: 18px !important;
  font-weight: 500;
  color: var(--text-color);
}
.App.dark .latest-bottom p {
  margin-bottom: 0px !important;
  font-size: 18px !important;
  font-weight: 500;
  color: var(--white-color);
}
/*============ 
Footer 
============*/
.App.light footer {
  background: var(--white-color);
  padding: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 68px;
}
.App.dark footer {
  background: var(--darkmode-bg);
  padding: 20px;
  text-align: center;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 68px;
}
.App.light footer p {
  margin-bottom: 0px !important;
}
.App.dark footer p {
  margin-bottom: 0px !important;
  color: var(--white-color);
}
/*============= 
Bottom Navbar 
==============*/
.App.light .bottom.navbar {
  background: var(--white-color);
  bottom: 0;
  text-align: center;
  font-size: 18px !important;
  border-top: 2px solid var(--text-grey);
  z-index: 10 !important;
}
.App.dark .bottom.navbar {
  background: var(--darkmode-bg);
  bottom: 0;
  text-align: center;
  font-size: 18px !important;
  border-top: 2px solid #2d1f3b;
  z-index: 10 !important;
}
.bottom.navbar p {
  font-size: 14px !important;
}
.App.light .pain {
  cursor: pointer;
  transition: 250ms ease-in-out;
  color: var(--text-color) !important;
}
.App.dark .pain {
  cursor: pointer;
  transition: 250ms ease-in-out;
  color: var(--white-color);
}
.pain:hover {
  color: var(--purple-color);
}
.App.light .pain.active {
  color: var(--purple-color) !important;
  position: relative;
  font-weight: 600;
}
.App.dark .pain.active {
  color: var(--purple-color) !important;
  position: relative;
  font-weight: 600;
}
.pain.active::after {
  content: "";
  background: var(--purple-color);
  height: 2px;
  width: 100%;
  position: absolute;
  top: -12px;
  left: 0;
}
/* ===========
Sidebar 
===============*/
.modale-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.18);
  z-index: 81;
  animation: fadeInDown 1s ease;
}
.modale-back.active {
  animation: fadeOutDown 1s ease;
}
.App.light .modale-body {
  background: var(--white-color);
  max-height: 100%;
  overflow-y: scroll;
  max-width: 300px;
}
.App.dark .modale-body {
  background: var(--darkmode-bg);
  max-height: 100%;
  overflow-y: scroll;
  max-width: 300px;
}
.modale-body::-webkit-scrollbar {
  display: none;
}
.modale-body p {
  margin-bottom: 0px !important;
}
.modal-info {
  display: grid;
  align-items: center;
  grid-template-columns: 0.3fr 6fr 0.5fr;
  gap: 15px;
  padding: 10px 15px;
}
.modal-pic {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  overflow: hidden;
}
.App.light .modal-info-text p:first-child {
  font-size: 19px !important;
  color: var(--text-color);
  font-weight: 600;
}
.App.dark .modal-info-text p:first-child {
  font-size: 19px !important;
  color: var(--white-color);
  font-weight: 600;
}
.modal-info-text p:last-child {
  font-size: 14px !important;
  font-weight: 500;
  color: var(--text-grey);
}
.modal-info .MuiSvgIcon-root {
  color: var(--purple-color) !important;
  cursor: pointer;
}
.modal-balance {
  background: var(--purple-color);
  padding: 20px 0;
  margin-top: 8px;
}
.modal-balance {
  color: #eee;
}
.modal-balance .value,
.modal-balance .MuiSvgIcon-root,
.transfer-p {
  color: var(--white-color) !important;
  text-transform: capitalize;
}
.modal-balance .value {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 18px !important;
}
.modal-balance .value .naira {
  font-size: 30px;
}
.modal-balance .value .naira::after,
.modal-balance .value .naira::before {
  background: var(--white-color);
}
.transfers {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.transfer-content {
  display: flex;
  flex-direction: column;
}
.trans-inn {
  height: 30px;
  width: 30px;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  align-self: center;
  cursor: pointer;
}
.transfers p {
  text-align: center;
  font-size: 12px !important;
}
.menu-list li {
  margin-bottom: 25px;
}
.menu-list a,
.op,
.rs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App.light .menu-list p {
  color: var(--text-color);
  font-size: 16px !important;
  text-transform: capitalize;
  font-weight: 600;
}
.App.dark .menu-list p {
  color: var(--white-color);
  font-size: 16px !important;
  text-transform: capitalize;
  font-weight: 600;
}
.ops,
.rs span {
  background: var(--purple-color);
  color: var(--white-color);
  margin-right: 15px;
  font-size: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.rs span {
  height: 22px;
  width: 22px;
  font-size: 14px;
  text-align: center;
}
.rs .MuiSvgIcon-root {
  font-size: 14px !important;
  color: var(--text-color) !important;
}
.menu-title {
  text-transform: capitalize;
  margin: 15px 8px !important;
  font-weight: 600;
  color: var(--text-grey);
}
.menu-list {
  margin-top: 10px !important;
}
.menu-list img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
/*=========================================
DESIGN FOR PAGES, COMPONENT, AND OTHRES
===========================================*/
.App.light .page.navbar {
  background: var(--white-color) !important;
  color: var(--text-color);
  font-size: 19px !important;
  font-weight: 500;
  text-align: center;
  display: block;
}
.App.dark .page.navbar {
  background: var(--darkmode-bg) !important;
  color: var(--text-color);
  font-size: 19px !important;
  font-weight: 500;
  text-align: center;
  display: block;
}
.App.dark .other-page-title {
  color: var(--white-color);
}
.paid-awaiting {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr) !important;
  padding-top: 30px;
}
.paid-awaiting p {
  position: relative;
  cursor: pointer;
}
.first-state {
  color: var(--purple-color) !important;
  position: relative;
  transition: 300ms all linear;
}
.first-state::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background: var(--purple-color);
  bottom: -50%;
  left: 0;
  transition: 300ms ease-in;
}
.paid-awaiting p {
  font-size: 15px !important;
  text-align: center;
}
.page.navbar .MuiSvgIcon-root {
  color: var(--purple-color) !important;
  font-size: 18px !important;
  cursor: pointer;
}
.page-list {
  padding-top: 70px;
}
.App.light .linear .MuiSvgIcon-root {
  font-size: 13px !important;
  margin-right: 15px;
}
.App.dark .linear .MuiSvgIcon-root {
  font-size: 13px !important;
  margin-right: 15px;
  color: var(--white-color);
}
.App.light .linear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dcdce9;
  padding: 15px 0;
  cursor: pointer;
}
.App.dark .linear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2d1f3b;
  padding: 15px 0;
  cursor: pointer;
}

.page-items li:last-child .linear {
  border: none;
}
.App.light .linear p {
  font-size: 15px !important;
  font-weight: 500;
  margin-bottom: 0px !important;
  text-transform: capitalize;
}
.App.dark .linear p {
  font-size: 15px !important;
  font-weight: 500;
  margin-bottom: 0px !important;
  text-transform: capitalize;
  color: var(--white-color);
}
.linear input {
  width: 70px !important;
  margin-right: 15px;
  padding: 15px 0px !important;
}

.App.light .page-items {
  background: var(--white-color);
  padding-top: 10px;
  padding-left: 15px !important;
  border-radius: 13px;
  box-shadow: var(--shadow);
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}
.App.dark .page-items {
  background: var(--darkmode-bg);
  padding-top: 10px;
  padding-left: 15px !important;
  border-radius: 13px;
  box-shadow: var(--shadow);
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}
.page-items:first-child .trans-inn {
  background: var(--purple-color);
  color: var(--white-color);
}
.first-grid {
  display: grid;
  grid-template-columns: 0fr 5fr;
  gap: 15px;
  align-items: center;
}
.page-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-grey);
  text-transform: capitalize;
}
.other-page-title {
  text-transform: capitalize;
  color: var(--purple-color);
}
/*======================== 
Page _- COMOPNENT Styling 
==========================*/
.component-body-full {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
}
.App.light .component-text {
  background: var(--white-color);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin-bottom: 15px;
}
.App.dark .component-text {
  background: var(--darkmode-bg);
  padding: 10px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin-bottom: 15px;
}
.component-text p {
  margin-bottom: 10px !important;
  margin-top: 8px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--text-grey);
}
.App.light .component-text header {
  font-size: 19px !important;
  font-weight: 600;
  text-transform: capitalize;
}
.App.dark .component-text header {
  font-size: 19px !important;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
}
.page-list .card-box {
  min-width: 100% !important;
}
.settings .page.navbar .notify .MuiSvgIcon-root {
  color: var(--purple-color) !important;
  font-size: 28px !important;
  cursor: pointer;
}
.settings .notify span {
  right: 2px;
  font-size: 12px !important;
  height: 15px;
  width: 15px;
  color: var(--white-color);
  margin-top: 6px;
}
.settings-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-inner {
  background: var(--white-color);
  height: 130px;
  width: 130px;
  position: relative;
  padding: 10px;
  border-radius: 50%;
}
.settings-inner img {
  border-radius: 50%;
}
.settings-inner span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--purple-color);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 10px;
  color: var(--white-color);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 70%;
}
.first-grid.and {
  display: block;
}
.linear span {
  display: block;
  font-size: 12px !important;
  color: var(--text-grey);
}
.beep {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.beep span {
  margin-right: 10px;
  font-size: 14px !important;
  color: var(--purple-color);
  font-weight: 500;
}
/*==================== 
TRANSCTION ALL PAGE 
====================*/
.transaction-all-page .notify .MuiSvgIcon-root {
  font-size: 30px !important;
}
.transaction-all-page .notify span {
  color: var(--white-color);
  font-size: 15px !important;
  right: 0;
}
.transaction-all-page .for-flexing:hover {
  transform: scale(1);
}
.App.light .trans-list label {
  font-size: 19px !important;
  font-weight: 500;
  text-transform: capitalize;
  margin: 19px 0;
}
.App.dark .trans-list label {
  font-size: 19px !important;
  font-weight: 500;
  text-transform: capitalize;
  margin: 19px 0;
  color: var(--white-color);
}
.trans-list button {
  background: var(--purple-color);
  color: var(--white-color);
  border: none;
  padding: 10px 0;
  border-radius: 7px;
  text-transform: capitalize;
  transition: 150ms ease-in;
  font-weight: 600;
}
.trans-list button:hover {
  background: #593fb8;
  color: var(--text-color);
}
.latest-news-all .homeincexp {
  margin-top: 0px;
}
.latest-news-all .latest-box {
  min-width: 100%;
  cursor: pointer;
}
/*=================== 
MONTHLY BILL ALL 
=====================*/
.monthly-bill-all .homeincexp {
  margin-top: 0px;
}
.monthly-bill-all .monthly-bill-contnent {
  min-width: 100% !important;
}
/* Savings all */
.saving-all .saving-container:nth-child(4) .savebar {
  width: 35%;
}
.saving-all .saving-container:nth-child(5) .savebar {
  width: 60%;
}
.saving-all .saving-container:nth-child(6) .savebar {
  width: 55%;
}
.saving-all .saving-container:nth-child(7) .savebar {
  width: 90%;
}
/* ====================
STYLING FOR POPUPS 
=============================*/
.index-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.23);
  z-index: 100;
}
.App.light .index-modal-body {
  background: var(--white-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 8;
}
.App.dark .index-modal-body {
  background: var(--darkmode-bg);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.App.light .index-body-title {
  border-bottom: 2px #eee solid;
}
.App.dark .index-body-title {
  border-bottom: 2px solid #2d1f3b;
}
.App.light .index-body-title p {
  margin-bottom: 0px !important;
  text-align: center;
  color: var(--text-color);
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 19px !important;
  font-weight: 500;
}
.App.dark .index-body-title p {
  margin-bottom: 0px !important;
  text-align: center;
  color: var(--white-color);
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 19px !important;
  font-weight: 500;
}
.index-body-content {
  padding: 15px 20px;
}
.App.light .index-modal-inputs {
  border-bottom: 2px solid #eee;
  margin-bottom: 10px;
  position: relative;
}
.App.dark .index-modal-inputs {
  border-bottom: 2px solid #2d1f3b;
  margin-bottom: 10px;
  position: relative;
}
.index-modal-inputs a {
  font-size: 13px;
}
.App.light .index-modal-inputs p {
  margin-bottom: 10px !important;
  text-transform: capitalize;
  font-weight: 500;
}
.App.dark .index-modal-inputs p {
  margin-bottom: 10px !important;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--white-color);
}
.App.light .index-modal-inputs input,
.App.light .index-modal-inputs select{
  width: 100%;
  background: none;
  border: none;
  text-transform: capitalize;
  padding: 10px 6px;
  position: relative;
  margin-bottom: -2px;
}
.App.dark .index-modal-inputs input,
.App.dark .index-modal-inputs select {
  width: 100%;
  background: none;
  border: none;
  text-transform: capitalize;
  padding: 10px 6px;
  position: relative;
  margin-bottom: -2px;
  color: var(--white-color);
}
.index-modal-inputs input:focus,
.index-modal-inputs select:focus {
  outline: none;
}
.index-modal-inputs input:focus-within,
.index-modal-inputs select:focus-within {
  border-bottom: 2px solid var(--purple-color);
}
.boxing {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.for-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/*===========================
STYLING FOR DETAIL PAGE
=============================*/
.App.light .details .page.navbar {
  border-bottom: 2px solid #eee;
}
.App.dark .details .page.navbar {
  border-bottom: 2px solid #2d1f3b;
}
.App.light .detail-body {
  background: var(--white-color);
  height: 90vh;
}
.App.dark .detail-body {
  background: var(--darkmode-bg);
  height: 90vh;
}
.App.light .detail-body p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
}
.App.dark .detail-body p {
  margin-bottom: 0px !important;
  text-transform: capitalize;
  color: var(--white-color);
}
.detail-send {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-send p {
  font-weight: 500;
}
.detail-send span {
  background: var(--purple-color);
  color: var(--white-color);
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 10px;
}
.detail-send span .MuiSvgIcon-root {
  font-size: 30px !important;
  padding: 0px !important;
  margin: 0px !important;
}
.App.light .detail-lines {
  border-bottom: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.App.dark .detail-lines {
  border-bottom: 2px solid #2d1f3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.detail-lines:last-child {
  border-bottom: 0px;
}
.detail-lines .amount {
  font-weight: 600;
  text-transform: capitalize;
}
/*=================  
STYLE FOR NOTIFICATION PAGE AND NOTIFICATION DETAILS
===================*/
.notifications .page-list {
  padding-top: 49px !important;
}
.App.light .notify-list {
  background: var(--white-color);
  border-top: 2px solid #eee;
}
.App.dark .notify-list {
  background: var(--darkmode-bg);
  border-top: 2px solid #2d1f3b;
}
.icn {
  display: flex;
  background: var(--purple-color);
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white-color);
}
.notify-list li:nth-child(2) .icn {
  background: var(--green-color);
}
.notify-list li:nth-child(3) .icn {
  background: var(--red-color);
}
.notify-list li:nth-child(4) .icn {
  background: var(--yellow-color);
}
.App.light .contidet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #eee !important;
  padding: 10px 0;
}
.App.dark .contidet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #2d1f3b !important;
  padding: 10px 0;
}
.contidet:last-child {
  border-bottom: none;
}
.contidet p {
  margin-bottom: 0px !important;
  color: var(--text-color);
}
.App.light .contidet p:nth-child(1) {
  font-size: 20px !important;
  text-transform: capitalize;
  font-weight: 600;
}
.App.dark .contidet p:nth-child(1) {
  font-size: 20px !important;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--white-color);
}
.contidet p:nth-child(2),
.contidet p:nth-child(3) {
  font-size: 13px !important;
  color: var(--text-grey);
  text-transform: capitalize;
}
.contidet .naira {
  font-size: 13px !important;
  color: var(--text-grey);
}
.number-of-times {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}
.number-of-times span {
  color: var(--white-color);
  background: var(--purple-color);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App.light .number-of-times .MuiSvgIcon-root {
  font-size: 16px !important;
}
.App.dark .number-of-times .MuiSvgIcon-root {
  font-size: 16px !important;
  color: var(--white-color);
}
.list-task {
  display: grid;
  grid-template-columns: 0.3fr 6fr;
  gap: 20px;
  align-items: center;
}
.App.light .notify-list .active {
  background: rgba(220, 220, 233, 0.3);
  width: 100%;
}
.App.dark .notify-list .active {
  background: #201a3a;
  width: 100%;
}
/*======================
MEDIA QUERIES
=======================*/
@media screen and (max-width: 700px) {
  .saving-all .saving-top p {
    font-size: 17px !important;
  }
  .top p:first-child {
    font-size: 18px !important;
    font-weight: 500;
  }
  .top p:last-child {
    font-size: 30px;
    font-weight: 700;
  }
  .home-exp-inc-inner p:last-child {
    font-size: 20px;
    font-weight: 500;
  }
  .component-text p {
    margin-bottom: 10px !important;
    font-size: 14px !important;
  }
  .page-list .card-box .balance p:last-child {
    font-size: 28px !important;
  }
  .page-list .card-box .card-numb p:last-child {
    font-size: 20px !important;
  }
  .page-list .card-box .cvv p:last-child,
  .page-list .card-box .expire p:last-child {
    font-size: 16px !important;
  }
  .monthly-bill-all .monthly-bill-contnent {
    min-width: 100%;
  }
  .main-user .MuiSvgIcon-root {
    margin-right: 4px;
  }
  .notify span {
    right: 0px;
  }
  .text-logo {
    padding-left: 50px;
  }
  .trans-title p {
    font-size: 17px !important;
  }
  .trans-title a {
    font-size: 14px !important;
  }
  .detail-body {
    height: 95vh;
  }
  .top p:last-child .naira {
    font-size: 25px;
  }
}
